---
import Timelapse from "./Timelapse.astro";
---

<section id="about-me"
  class="h-full max-w-5xl w-full flex flex-col justify-top border-t-2 border-black dark:border-white gap-8 text-black dark:text-white p-8 mySection"
>
  <div class="flex flex-col justify-center items-center">
    <h2 class="text-4xl font-bold">About me</h2>
    <p class="mt-5 text-xl text-start ">
    My name is Felipe Fidalgo, I'm 21 years old and I live in Buenos Aires, Argentina. I have <span class="font-bold">five years</span> of programming experience and I am currently studying a degree in Systems at the UNLP. My main focus is web development, but I also have training in data analysis, machine learning, web scraping, among other areas. I have collaborated with several companies and local businesses and, at the moment, I am looking for freelancer opportunities on Upwork.
  
  </div>
</section>


